*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register{

    width: 420px;
    background: #04d0d9;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: tahoma sans-serif;
    color: while;
    }
.form-register h4{
    font-size: 25px;
    margin-bottom: 5px;
    
}
.controls{
    width: 100%;
    background:white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid black;
    font-family: tahoma sans-serif;
    font-size: 18px;
}
.imgl{

    height: 100px;

    max-height: 140px;
    max-width: 140px;
}
.form-register p{
    height: 30px;
    text-align: center;
    font-size: 18px;
}
         
      
.form-register .botons{
    width: 100%;
    background: rgb(226, 225, 225);
    margin-bottom: 15px;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 18px;

}